<%= form_for [@user, @team], remote: true do |f| %>
  <div class="field">
    <h4>Team Name:
    <%= f.text_field :name %></h4>
  </div>
  <div class="field">
    <input type="hidden" id="team_user_id" name="team[user_id]" value='<%= @user.id %>' />
  </div>
  <div class="actions">
    <%= f.submit "Create Team" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {

      event.preventDefault();
      debugger
      var values = $(this).serialize();
      var newTeam = $.post('/teams', values);

      newTeam.done(function(data) {
        var team = data
        debugger
        $("#existingTeams").append(data["data"]["attributes"].name)
      });
    });
  });
</script>
