<%= form_for ([@user, @team]) do |f| %>
  <div class="field">
    <h4>Team Name: <%= f.text_field :name %></h4>
  </div>
  <div class="actions">
    <%= f.submit "Create Team" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {

      event.preventDefault();

      var values = $(this).serialize();
      var newTeam = $.post('/teams', values);

      team.done(function(data) {
        var team = data
        $("#existingTeams").append("<h4>team["name"]</h4>")
      });
    });
  });
</script>
