<%= form_for @league, remote: true do |f| %>
  <div class="field">
    <h4>League Name:
    <%= f.text_field :name %></h4>
  </div>
  <div class="field">
    <input type="hidden" id="league_user_id" name="league[admin_id]" value='<%= @user.id %>' />
  </div>
  <div class="actions">
    <%= f.submit "Create League" %>
  </div>
<% end %>
