Find a League to Join

<ul>
<% @leagues.each do |league| %>
  <li><%= league.name %> - Admin: <%= User.find_by_id(league.admin_id).name %> - <%= render partial: 'teams/join_league', locals: {team: team} %></td>
<% end %>
</ul>
