<%= form_for ([@league, @comment]) do |f| %>
  <label for="league_comment">Post Message: </label>
  <%= f.text_area :content %>

  <%= f.submit "+" %>
  <br>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('form').submit(function(event) {
      //event.preventDefault();
      $(this).hide();
      var values = $(this).serialize();

      $.post('/teams', values, function(comment) {
        currentComment = comment.data.id
        //urlWithParams = "/users/" + team.data.attributes.user.id + "/teams/" + currentTeam
        $("#messageBoard").append('<li>"' + comment.data.attributes.content + '"<br>'
        + comment.data.attributes.team.name + ' -- ' + comment.data.attributes.created_at.strftime("%b-%d  %I:%M %p") '</li><br>')
      })
      return false
    });
</script>
