<%= form_for ([@league, @comment]) do |f| %>
  <label for="league_comment">Post Message: </label>
  <%= f.text_area :content %>

  <%= f.submit "+" %>
  <br>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('form').submit(function(event) {
      //event.preventDefault();
      $(this).hide();
      var values = $(this).serialize();

      $.post('/comments', values, function(comment) {
        $("#existingTeams").append('<li><a href=' + urlWithParams + '>' + team.data.attributes.name + '</a></li>')
      })
      return false
    });
</script>
