<h2>Message Board</h2>
<br>

<h4><a href='#' onclick='createNewComment()'>Create New Message</a></h4>
<br>
<div id="newCommentForm"></div>
<br>

<% if @comments.empty? %>
  <h4>No messages have been posted yet!</h4>
<% else %>
  <ul>
    <div id='messageIndex'>
    <% @comments.each do |comment| %>
      <li>"<%= comment.content %>"<br>
        <%= comment.team.name %> -- <%= comment.created_at.strftime("%b-%d  %I:%M %p") %></li><br>
    <% end %>
    </div>
  </ul>
<% end %>

<script type="text/javascript" charset="utf-8">
function createNewComment() {
  event.preventDefault();
  $('#newCommentForm').html("<%= j (render 'comments/add_comment') %>")
}
</script>
