<h2>Message Board</h2>
<br>

<%= link_to "Create New Message", new_league_comment_path(@league, @comment)%>

<% if @comments.empty? %>
  <h4>No messages have been posted yet!</h4>
<% else %>
  <ul>
    <div id='messageBoard'>
    <% @comments.each do |comment| %>
    <li>"<%= comment.content %>"<br>
    <%= comment.team.user.name %> -- <%= comment.created_at.strftime("%b-%d  %I:%M %p") %></li><br>
    <% end %>
    </div>
  </ul>
<% end %>
<br>
