<h1>Welcome to Fantasy Football!</h1><br>

<h3><%= link_to 'Sign Up', '/signup' %></h3><br>
<h3><%= link_to 'Fantasy Football Login', '/login' %> --- OR --- <a href='/auth/facebook'>Login with Facebook</a></h3><br>

<h5>App Admin?</h5>
